body {	
	width: 100vw;
	height: 100vh;
	position: absolute;
}
.main_section{
	/*background-color: aqua;*/
	background-image: url(https://t4.ftcdn.net/jpg/01/25/16/91/360_F_125169154_fcnAEc5TPRg19XcZYgKz20eEYeKi6qwc.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: 1;

	display:  grid;
	grid-template-rows: auto 150px 20px;  /* main content, btns , footer */
	position: absolute;

}
.main_overlay-container{
	/*
	position:  absolute;
	left: 50%;
	bottom: 5%;
	transform: translate(-50%, -5%);
	background-color: aquamarine;
	*/
	width: 95%;
	max-height: 40%;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
}
.main_center_layout{
	/*
	display: grid;
	grid-template-rows: auto 350px;
	*/
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;	
	
	height: 100%;
	width: 100%;
	
	/*
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -5%);
	background-color: brown;
	*/
}
.main_footer{
	background-color: aqua;
	z-index: -1;
}
.main_center_layout * {
	margin: 1%;
}

.item-thumb{
	width: 100px;
	height: 100px;	

	border-radius: 50% 25%;
	text-align: center;
}
.item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* Main stamps container */
.main_item-container{
	/*
	display: grid;
	grid-template-columns: 200px  200px   200px   200px  ;	
	*/
	justify-content: center;
	align-items: center;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;	
	
	/*width: 95%;*/
	min-width: 80%;
	height: auto;
	min-height: 45vh;
	max-height: 70%;
	background-color: rgba(215, 215, 215, 0.696);
	border-radius: 15px;
	overflow-y: scroll;
	
	padding:  25px;

}

/* 下排操作按鈕 */
.main_footer_panle{
	width: 100%;
	height: auto;
	max-height: 200px;

	display: flex;
	flex-direction: column;
	
	justify-content: center;
	align-items: center;
}

.main_opt_btn{
	/*https://codepen.io/vinsalmont/pen/QGwGye?editors=1100*/
	max-width: 200px;
	margin: 10px;

	cursor: pointer;
	outline: none;
	  &.outline {
		  position: relative;
		  z-index: 3;
		  background: transparent;
		  color: #1172c4;
		  font-size: 14px;
		  border-color: #1172c4;
		  border-style: solid;
		  border-width: 2px;
		  border-radius: 22px;
		  padding: 10px 40px;
		  text-transform: uppercase;
		  transition: all 0.2s linear;
		  a {
			  text-decoration: none;
		  }
	  }
	  &.outline:hover {
		  color: white;
		  background: #1172c4;
		  border-color: white;
		  transition: all 0.2s linear;
	  }
	  &.outline:active {
		  border-radius: 22px;
	  }
	  &.white-blue {
        font-weight: 700;
        color: #00aeef;
        border-color: white;
        background: white;
    }
    &.white-blue:hover {
        color: white;
        background: #00aeef;
        border-color: white;
    }
    &.white-green {
        font-weight: 700;
        color: #7dc21e;
        border-color: white;
        background: white;
    }
    &.white-green:hover {
        color: white;
        background: #7dc21e;
        border-color: white;
    }
   &.green-white {
        font-weight: 700;
        color: #7dc21e;
        border-color: #7dc21e;
        background: transparent;
    }
    &.green-white:hover {
        color: white;
        background: #7dc21e;
        border-color: #7dc21e;
    }
    &.purple-white {
        font-weight: 700;
        color: #664e96;
        border-color: #664e96;
        background: transparent;
    }
    &.purple-white:hover {
        color: white;
        background: #664e96;
        border-color: #664e96;
    }
    &.white-purple {
        font-weight: 700;
        color: #664e96;
        border-color: white;
        background: white;
    }
    &.white-purple:hover {
        color: white;
        background: #664e96;
        border-color: white;
    }
}

.main_item{		
	justify-content: center;
	align-items: center;
}
.main_footer{
	background-color: rgb(232, 232, 232);
	
}

.red{
	background-color: red;
}
.blue{
	background-color: blue;
}


/* Complete */
#main_finish_overlay_container{
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 50vw;
	height: 30vh;

	max-width: 500px;
	max-height: 500px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	

	border-radius: 5px;
	z-index: 100;
}
.thumb{
	height: 70%;
	background-color: #1172c4;
	border-radius: 50%;	

	display: flex;
	justify-content: center;
	align-content: center;
}

.big-text{
	font-size: 18pt;
	margin: 20px;
	font-family: 'Noto Sans TC', sans-serif;
}

/* Scanner  
*/
#html5-qrcode-button-camera-stop{
	visibility: hidden;
    display: none;
}
#reader__dashboard{
	visibility: hidden;
    display: none;
}
#reader__scan_region video{
	border-radius: 15px;		
}

#reader{	
	border: unset !important;
}